@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
h1, h2, h3, .h3, h4, h5, h6, p, .p, footer a {
  font-family: "Roboto", sans-serif;
  width: fit-content;
}

title, .logo {
  font-family: "Shrikhand", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

div.card picture > img,
picture > img {
  object-fit: cover;
}

header, section, footer {
  width: 100%;
}

header, section, footer,
div.map, div.map_title, div.reservation,
ul.menu_fonctionnement, ul.menu_restaurant, div.card, div.card_txt,
.choice_btn > .btn_txt {
  display: flex;
}

div.submit > input[type=submit],
div.reservation > button, i.fa-spinner {
  background-image: linear-gradient(355deg, rgba(147, 86, 220, 0.8) 20%, #ff79da 100%, rgba(252, 174, 229, 0.5) 0%);
}

div.submit > input[type=submit],
div.reservation > button {
  width: fit-content;
  padding: 20px;
  border-radius: 50px/50px;
  border: none;
  color: white;
}

div.submit > input[type=submit],
div.reservation > button {
  /* boutons box shadow */
  box-shadow: 0px 2px 5px rgba(150, 150, 150, 0.4);
}

div.submit > input[type=submit]:hover,
div.reservation > button:hover {
  /* boutons box shadow : hover */
  box-shadow: 0px 3px 8px rgba(150, 150, 150, 0.5);
}

/*+++++++++++++++++++++++++++++++++++ LOAD SPINNER */
@keyframes load {
  0%, 70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate_spinner {
  0% {
    opacity: 1;
    transform: rotate(2360deg);
    font-size: 600%;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    font-size: 60%;
  }
}
.home_load {
  animation: load 3s ease-out 0s;
}

i.fa-spinner {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  font-size: 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*animation: 
      name duration timing-function 
      delay iteration-count direction fill-mode;*/
  animation: rotate_spinner 4s linear 0s;
}

/*++++++++++++++++++++++++++ design et animation icone HEART */
div.icon_container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-right: 15px;
}
div.icon_container input.heart {
  display: none;
}
div.icon_container label {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 20px;
}
div.icon_container i:nth-child(1) {
  font-size: 22px;
  position: absolute;
  z-index: 1;
  top: -1px;
  opacity: 1;
  transition: opacity 1.5s linear;
}
div.icon_container i:nth-child(2) {
  font-size: 20px;
  background: linear-gradient(350deg, black 0%, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 2s ease;
}
div.icon_container i:nth-child(2)::after {
  position: absolute;
  top: 0;
  left: 6px;
  content: "\f004";
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  height: 90%;
  transition: opacity 2s ease-in, height 0.8s ease-in;
}
div.icon_container i:hover {
  cursor: pointer;
}

div.icon_container input[type=checkbox]:checked + label i:nth-child(1) {
  opacity: 0;
}
div.icon_container input[type=checkbox]:checked + label i:nth-child(2)::after {
  opacity: 0;
  height: 1%;
}

/*+++++++++++++++++++++++++++++++ Button gradient animation */
div.submit > input[type=submit],
div.reservation > button {
  font-weight: bold;
  background-size: 120% 130%;
  background-position: bottom center;
  transition: background-position 0.5s ease, box-shadow 0.5s ease;
}
div.submit > input[type=submit]:hover,
div.reservation > button:hover {
  cursor: pointer;
  background-position: top left;
}

/*+++++++++++++++++++++++++++++++++ section#fonctionnement home page */
.btn-fc i {
  color: gray;
  transition: color 0.5s linear;
}
.btn-fc:hover i {
  color: #9356DC;
}

/*+++++++++++++++++++++++++++++++++++ Animation des plats : Pages des MENUS */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=animations.css.map */
