@import 'init.scss';
@import 'variables.scss';
/*+++++++++++++++++++++++++++++++++++ LOAD SPINNER */
@keyframes load{
    0%,70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes rotate_spinner {
    0%{ 
        opacity: 1;
        transform: rotate(2360deg);
        font-size: 600%;
    }
    100%{ 
        opacity: 1;
        transform: rotate(0deg);
        font-size: 60%;
    }
}
.home_load{
    animation: load 3s ease-out 0s;
}

i.fa-spinner{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    font-size: 0%;
    @extend %bg_grad;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    /*animation: 
        name duration timing-function 
        delay iteration-count direction fill-mode;*/
    animation: rotate_spinner 4s  linear 0s ;
}

/*++++++++++++++++++++++++++ design et animation icone HEART */
div.icon_container{
    position:absolute;
    z-index:10;
    bottom:30px;
    right:15px;
    float:right;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 30px;
    height: 30px;
    input.heart{
        display:none;
    }
    label{
        display: flex;
        justify-content: center;
        width: 25px;
        height: 20px;
    }
    i:nth-child(1){
        font-size: 22px;
        position: absolute;
        z-index: 1;
        top:-1px;
        opacity:1;
        transition: opacity 1.5s linear ;
    }
    i:nth-child(2){
        font-size: 20px;
        background: linear-gradient(
            350deg,black 0%, #9356DC 0%,#FF79DA 100%);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        transition:  2s ease;
    }
    i:nth-child(2)::after{
        position: absolute;
        top:0;
        left:6px;
        content:'\f004';
        background:white;
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        opacity:1;
        height:90%;
        transition: opacity 2s ease-in, height .8s ease-in;
    }
    i:hover{
        cursor: pointer;
    }
} 
div.icon_container input[type="checkbox"]:checked + label {
    i:nth-child(1){
        opacity:0;
    }
    i:nth-child(2)::after{
        opacity: 0;
        height:1%;
    }
}
/*+++++++++++++++++++++++++++++++ Button gradient animation */
div.submit > input[type="submit"],
div.reservation > button{
    font-weight: bold;
    @extend %btn, %bg_grad, %btn_bx-sh;
    background-size: 120% 130%;
    background-position: bottom center;
    transition:background-position 0.5s ease,box-shadow 0.5s ease;
    
    &:hover{
        cursor: pointer;
        background-position:top left;
        @extend %btn_bx-sh_hover;
    }
}
/*+++++++++++++++++++++++++++++++++ section#fonctionnement home page */
.btn-fc {
    i {
        color:gray;
        transition: color 0.5s linear;
    }
    &:hover i{
        color:$cprimaire;
    }
}
/*+++++++++++++++++++++++++++++++++++ Animation des plats : Pages des MENUS */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}