@import 'init.scss';
@import 'variables.scss';
/*+++++++++++++++++++++++++++++++++++ HEADER */
header{
    position: sticky;
    height: 50px;
    justify-content: center;
    box-shadow: 0px 1px 5px #9e9e9e;
    a{
        width:fit-content;
        position: absolute;
        left:10px;
        align-self: center;
    }
    p{
        width: 50%;
    }
}

/*++++++++++++++++++++++++++++++++ cards design basis */
div.card{
    position: relative;
    @extend %column;
    @extend %card;
        picture{
            height: 70%;
        }
        picture.nouveau:after{
            content: "Nouveau";
            position:absolute;
            font-family: 'Roboto', sans-serif;
            border-radius: 2px;
            @extend %btn_bx-sh;
            padding:7px 10px 7px 10px;
            top:5%;
            right: 15px;
            background-color: $ctertiaire;
            color:green;
            font-weight: bold;
        }
        .card_txt{
        padding: 15px;
        height:30%;
        justify-content: space-between;
        .card_txt_bloc h3{
            padding-bottom: 5px;
        }
    }
}
/*+++++++++++++++++++++++++++++++++++ HOME section DECOUVERTE*/
section#decouverte{
    div.map{
        @extend %column;
        .map_title{
            @extend %jstfy_c_center;
            height:40px;
            padding:15px 0 15px 0;
            background-color: #eaeaea;
            i{
                margin-right: 15px; 
            }
        }
    
    }
    div.reservation{
        background-color: #f6f6f6;
        @extend %column;
        height: 250px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 30px;
        button{
            @extend %btn, %bg_grad, %btn_bx-sh;
        }
    }   
}
/*+++++++++++++++++++++++++++++++++ HOME section Fonctionnement */
ul.menu_fonctionnement div.btn-fc{
    @extend %btn_bx-sh, %btn-fc;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    &:hover{
        @extend %btn_bx-sh_hover;
        background-color: rgba($cprimaire,.2);
        i{
            color:$cprimaire;
        }
    }
    span{
        display: inline-block;
        width: 30px;
        height:30px;
        line-height: 30px;
        text-align: center;
        margin-left: -40px;
        margin-right: 20px;
        color:white;
        background-color: $cprimaire;
        @extend %circle;
    }
}
/*+++++++++++++++++++++++++++++++++++ PAGES des MENUS */
section#restaurant_picture{
    figure{
        position:relative;
        width:100%;
        figcaption{
            display: flex;
            align-items: baseline;
            position:absolute;
            bottom: -2px;
            padding: 20px;
            width:100%;
            border-radius: 25px 25px 0px 0px;
            background-color: #f6f6f6;

            h1{
                margin-right: 20px;
            }
        }
    }
}
/*++++++++++++++++++++++++++++++++ Design section des MENUS */
 section#menus{
     background-color: #f6f6f6;
     form{
         width:100%;
         h2{
             position: relative;
             width: fit-content;
             margin-left:5%;
             font-size:small;
             font-weight: 300;
         
             &:after{
                 position: absolute;
                 content:"";
                 border-bottom: 2px solid $ctertiaire;
                 left: 0;
                 bottom: -5px;
             }
         }
         > div{
             display: flex;
             flex-direction: column;
             align-items: center;
             
             h2, .choice_btn{
                 margin-bottom: 10px;
                 margin-top: 10px;
             }
             .choice_btn{
                 height:70px;
             }
         }
         div.plats, div.entrees, div.desserts {
             height: fit-content;
             margin-top: 20px;
             margin-bottom: 20px;
         }
 
         
         div.submit{
             height:100px;
             input[type="submit"]{
                 font-weight: bold;
                 font-size: 105%;
             }
         }
     }
     /*+++++++++++++++++++++++ definition du bouton label */
     .choice_btn{
         display: flex;
         justify-content: space-between;
         background-color: white;
         border-radius: 15px;
         cursor: pointer;
         overflow: hidden;
         width: 90%;
         box-shadow: 0px 0px 5px gray;

         .btn_txt{
             flex-direction: column;
             padding: 15px;
             width:100%;
             transition: width .5s ease-in;
             > span:nth-child(2){
                 display: flex;
                 justify-content: space-between;
                 align-items: baseline;
                 white-space: nowrap;
             }
             span strong{
                 font-family: 'Roboto', sans-serif;
             }
             .p,.h3{
                 white-space: nowrap;
                 overflow: hidden;
                 text-overflow: ellipsis;
             }
             .h3{
                 font-size: 105%;
                 font-weight: bold;
             }
             .p{
                 font-size: 85%;
             }
         } 
         .checkbox{
             position: relative;
             left:60px;
             display: flex;
             justify-content: center;
             align-items: center;
             width:0%;
             background-color: $ctertiaire;
             transition: left .3s ease-in, width .5s ease-in;
             
             /*++++++++++++++++++++++++ desing et comportement de la virgule de validation */
             span.checkmark{
                 border-radius: 20px;
                 width:25px;
                 height:25px;
                 transform: rotate(360deg);
                 background-color:white ;
                 transition: transform .8s ease-out;
             }
             span.checkmark::after{
                 content: "";
                 position: absolute;
                 margin-left: 25.7%;
                 margin-top: 5.5%;
                 width: 8px;
                 height: 13px;
                 border:solid $ctertiaire;
                 border-width: 0 2px 2px 0;
                 transform: rotate(45deg);
                 opacity: 0;
                 transition: opacity 2s ease;
             }
         }
     }

     /*+++++++++++++++++++++++++++++++++++ fonctionnement du input */
     input[type="checkbox"]{
         display: none;

         &:checked + label{
             .btn_txt{
                 width:85%;
                 /*.p +.h3{
                     text-overflow: ellipsis;
                 }*/
             }
             span.checkmark{
                 transform: rotate(0deg);
             }
             span.checkmark:after{
                 opacity: 1;
             }
             .checkbox{
                 left:0px;
                 width:15%;
             }
         }
         
     }
 }