@media screen and (min-width:992px){
    @import 'default.scss';
    :root{
        max-width: 1600px;
        width:100% auto;
        margin: auto;
    }
    /*+++++++++++++++++++++++++ PAGE accueil */
    section#fonctionnement{
        
        ul.menu_fonctionnement li{
            width: 30%;
            .btn-fc > p{
                margin-left:12%;
            }
        }
    }

    section#restaurant{
        height:500px;
        padding-top: 30px;
        padding-bottom: 30px;
        ul.menu_restaurant{
            height: 300px;
            flex-wrap: nowrap;
            li{
                width: 20%;
            }
        }
    }
     /*+++++++++++++++++++++++++++++++++++ PAGES des MENUS */
    section#restaurant_picture{
        figure{
            height: 400px; /* a revoir */
        }
    }   
    /*++++++++++++++++++++++++++++++++ Design section des MENUS */
    section#menus{
        form{
            justify-content: space-around;
            div.plats, div.entrees, div.desserts {
                width:30%;
            }
            div.entrees, h2:nth-child(1){
                animation:slideInLeft 2.0s ease-in 0s;} 
            div.plats, h2:nth-child(3){ 
                animation:slideInLeft 1.5s ease-in 0s;} 
            div.desserts, h2:nth-child(5) {
                animation:slideInLeft 1.0s ease-in 0s;}
            div.submit{
                input[type="submit"]{
                    width: 25%;
                }
            }
        }
    }
    /*++++++++++++++++++++++++++++++++++ FOOTER */
    footer{
        padding-bottom: 55px;
        ul{
            li{
                margin-right:10%;
            }
            li:nth-child(1){
                margin-left: 5%;
            }
            
        }
    }   
}