@import 'init.scss';
@import 'variables.scss';
@media screen and (min-width:200px) and (max-width:600px){
    :root{
        min-width:200px;
        max-width: 600px;
        width:100%;
    }
    
    /*+++++++++++++++++++++++++++++++++++ HOME */
    section#decouverte{
        @include column;
        
        p.openstreetmap{
            display: none;
        }
    }
    /*+++++++++++++++++++++++ FONCTIONNEMENT (Choisissez, Composez, Degustez) */   
    section#fonctionnement{
        height:500px;
        padding-top: 50px;
        padding-bottom: 40px;
        @include column; 
        h1{
            margin-left: 15px;
            margin-bottom: 10px;
        }
        ul.menu_fonctionnement{
            @include column; 
            justify-content: space-around;
            height: inherit;
            li{
                height:fit-content;
            }
        }
        .btn-fc{
            display: flex;
            align-items:baseline ;
            margin:auto; 
            font-weight: bold;
            font-size: 91%;
            
            i{
                font-size: 120%;
                margin-right: 20px;
                color:gray;
            }
            p{
                margin-left: 7%;
            }
        }
        
    }
    /*+++++++++++++++++++++++++++++++++ restaurant cards section */
    section#restaurant{
        @include column_algn_center;
        justify-content: space-around;
        height:1350px;
        background-color: #f6f6f6;
        padding-top: 50px;
        padding-bottom: 50px;
        h1{
            align-self: flex-start;
            margin-left: 20px;
            padding-bottom: 15px;
        }
        ul.menu_restaurant{
            @include column;
            width: 90%;
            height: 1200px;
            justify-content: space-around;
            li{
                width: 100%;
            }
        }
        
    }
    /*+++++++++++++++++++++++++++++++++++ PAGES des MENUS */
    section#restaurant_picture{
        figure{
            height: 320px; 
            figcaption{
                justify-content: space-between;
            }
        }
    }
    
    /*++++++++++++++++++++++++++++++++ Design section des MENUS */
    section#menus{
        form{
            h2{
                align-self: flex-start;
            
                &:after{
                    width:28px;
                }
            }
            > div{
                justify-content: space-around; 
            }
            div.entrees, h2:nth-child(1){
                animation:slideInLeft 1.0s ease-in 0s ;} 
            div.plats, h2:nth-child(3){ 
                animation:slideInLeft 1.5s ease-in 0s ;} 
            div.desserts, h2:nth-child(5) {
                animation:slideInLeft 2.0s ease-in 0s ;}
            div.submit{

                input[type="submit"]{
                    width: 50%;
                }
            }
        }
    }

    /*+++++++++++++++++++++++++++++++++++ FOOTER */
    footer{
        flex-direction: column;
        background-color: #353535;
        padding:20px;
        h2,a{
            color: white;
            line-height: 30px;
        }
        h2{
            margin-bottom: 20px;
        }
        i{
            margin-right: 10px;
        }
        li:nth-child(1) i{
            font-size: 90%;
        }
        li:nth-child(2) i{
            font-size: 60%;
        }
    }
}