@media screen and (min-width:601px){
    section#decouverte{
        padding-bottom: 4px;
        background-color: #eaeaea;
        box-shadow: 0px 3px 3px #9e9e9e;
        div.map{
            height: 250px;
        }
        > div{ 
            flex: 50%;
        }
        p.openstreetmap{
            height:210px;
            img{
                object-fit: cover;
            }
        } 
    }
}