@import 'default.scss';
@media screen and (min-width:601px) and (max-width:991px) {
    :root{
        min-width:601px;
        max-width: 991px;
        width:100%;
    }
    /*+++++++++++++++++++++++++ PAGE accueil */
    section#fonctionnement{
        
        ul.menu_fonctionnement li{
            width: 33%;
            .btn-fc {
                > i {
                    margin-left:0;
                    margin-right: 0;
                }
                > p{
                    margin-left:6%;
                    font-size: 83%;
                }
            }
        }
    }
    section#restaurant{
        height:900px;
        padding-top: 50px;
        padding-bottom: 50px;
        ul.menu_restaurant{
            height: 700px;
            flex-wrap: wrap;
            align-content: space-around;
            li{
                width: 45%;
            }
        }
        
    }
    /*+++++++++++++++++++++++++++++++++++ PAGES des MENUS */
    section#restaurant_picture{
        figure{
            height: 400px;
            figcaption{
                justify-content: space-between;
            }
        }
    }
    /*++++++++++++++++++++++++++++++++ Design section des MENUS */
    section#menus{
        form{
            div.plats, div.entrees, div.desserts {
                width:50%;
            }   
            div.entrees, h2:nth-child(1){
                animation:slideInLeft 1.5s ease-in 0s ;} 
            div.plats, h2:nth-child(3){ 
                animation:slideInLeft 1.0s ease-in 0s ;} 
            div.desserts, h2:nth-child(5) {
                animation:slideInLeft 1.5s ease-in 0s ;}
            div.submit{
                input[type="submit"]{
                    width: 50%;
                }
            }
        }
    }

    /*++++++++++++++++++++++++++++++++++ FOOTER */
    footer{
        ul{
            li{
                margin-right:8%;
            }
        }
    }

}